<div class="container">
  <div class="row">
    <div class="span12">
    <div class="page-header">
        <h1>
        Researcher Dashboard
      </h1>
    </div>
    </div>
  </div>

  <h2><%= link_to "Create new study", new_researcher_study_path %></h2>
   <div class="hr-divider"></div>

   <div class="row">
   	<div class="span12 researcher">
      <h2>Your Research Studies</h2>

      <ul class="thumbnails">
        <% if @studies.empty? %>
        <div class="thumbnail">
          <li class="col-md-4">
            <h3>You have no studies currently.</h3>
          </li>
        </div>

        <% else %>
          <% @studies.each do | study | %>
          <% cache study_participations_cache("researcher-#{study.id}") do %>

            <div class="study-<%= study.id %>">
              <li class="span4">
                <div class="thumbnail">
                  <h3><%= link_to study.name, study_path(study) %></h3>
          <% end %>
                  <div class="caption">

                    <p> <% study.snps.each do |snp| %>
                      <% cache study_participations_cache("researcher-#{study.id}-#{snp.id}") do %>
                      <strong>SNP Location: <%= snp.snp_value.location.position + " / #{snp.snp_value.base_pair}" %></strong>
                    <% end %>

                    <p>Description: <%= study.description %></p>

                    <% if study.study_participations.empty? %>
                      <p>
                        <strong>This study has no matching participants.</strong>
                      </p>
                    <% else %>
                      <p>
                        <strong> <%= pluralize(study.study_participations.count, "matching participant") %></strong>
                      </p>
                    <% end %>
                  </div>
              </div>
            </li>
          </div>
        <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
</div>
