<div class="container researcher">
  <h1>Researcher Dashboard</h1>

  <h2>Your Studies</h2>

  <% if @studies.empty? %>
    <p><%= link_to "Create new study", new_researcher_study_path %>
  <% else %>
    <% @studies.each do | study | %>
      <div class="study-<%= study.id %>">
        <p><%= study.name %> </p>
        <p><%= study.description %> </p>
        <p> <% study.snps.each do |snp| %>
          SNP Location: <%= snp.snp_value.location.position + " (#{snp.snp_value.base_pair})" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
