<section class="researcher-creation">
  <%= form_for(@researcher, url: researcher_signup_path) do |f| %>
    <div class="form-group">
      <p><%= f.label :first_name %>
      <%= f.text_field :first_name, class: "" %>
      <p><%= f.label :last_name %>
      <%= f.text_field :last_name, class: "" %>
      <p><%= f.label :email %>
      <%= f.text_field :email, class: "" %>
      <p><%= f.label :password_digest, "Password" %>
      <%= f.password_field :password_digest, class: "" %>
      <%= fields_for :researcher_credential do | u | %>
        <p><%= u.label :organization %>
        <%= u.text_field :organization %>
        <p><%= u.label :description, "Description of your organization" %>
        <%= u.text_area :description %>
      <% end %>
      <p><%= f.submit "Create Researcher Account" %>
    </div>
  <% end %>
</section>
