<div class="container">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h1>
          Participant Dashboard
        </h1>
        <h3> <%= render partial: "partials/change_password" %></h3>
      </div>
    </div>
  </div>

   <div class="row">
   	<div class="span12 participant">

      <h2>Studies Matching Your Genome</h2>
      <% if @user.has_matches? %>
        <ul class="thumbnails">
          <% @user.study_participations.each_with_index do | participation, i | %>
            <% cache study_participations_cache("user-#{participation.id}") do %>
              <div class="col-md-4 study-<%= participation.study.id %>">
                <li>
                  <div class="thumbnail">
                    <h3><%= link_to participation.study.name, study_path(participation.study) %></h3>
                    <div class="caption">
                      <strong><%= participation.study.user.researcher_credential.organization %></strong>
                      <p>Description: <%= participation.study.description %></p>
                      <p>Based on your value of <strong>"<%= participation.study.snps.first.snp_value.base_pair %>"</strong>
                        at the <strong><%= participation.study.snps.first.snp_value.location.position %></strong> position.
                    </div>
                  </div>
                </li>
              </div>
              <% if i % 3 == 2  %>
                <div class="clearfix"></div>
              <% end %>
          <% end %>
        <% end %>
      </ul>
      <% else %>
        <p>
          No studies currently use your genetic variants.
        </p>
      <% end %>
    </div>
  </div>
</div>
