<!DOCTYPE html>
<html>
<head>
  <title>GenomeMatchMaker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1"></head>
<body>
  <%= render partial: "partials/header" %>
  <% flash.each do |type, message| %>
    <%= content_tag :div, message, class: "alert-#{type}" %>
  <% end %>
  <%= yield %>

</body>
  <%= javascript_include_tag 'application' %>
</html>
